yt-dlp
oauth2client
google-api-python-client
pydub
python-multipart
python-dotenv
isodate
playwright
tqdm
requests
pandas
librosa
soundfile 
scipy 
torch 
transformers 
datasets 
noisereduce 
huggingface_hub 
tqdm 
matplotlib 
seaborn

